body {
    margin-left: 300px;
    background-color: #11111b;
    font-family: 'Inter', sans-serif;
}


/* GROUP-NAME */

#GroupName {
    color: beige;
    position: absolute;
    left: 40px;
    bottom: 20px;
}


/* BIG TITLE */

.big-title {
    position: absolute;
    top: 0;
    left: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F4F3FB;
}

.big-title h1 {
    margin-bottom: -20px;
}


/* ADDING CONTAINER */

#add-task-container {
    background-color: #EBECF0;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    min-height: 80vh;
    height: fit-content;
    margin-top: 90px;
    margin-left: 100px;
    padding: 5px;
}


/* LEFT */

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container-left>div {
    margin: 20px 20px;
}


/* RIGHT */

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container-right>div {
    margin: 20px 20px;
}

.member-container {
    padding-top: 20px;
}

.asign-member,
.add-category-cild {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.asign-member img,
.add-category img {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
}

.form-buttons {
/*    padding-top: 0;
    margin: 0 !important;*/
    position: absolute;
    bottom: 20px;
    right: 20px;
    flex-direction: row;
/*    justify-content: space-between;
    align-items: center;*/
}


/* NEU USER CONTAINER */

#add-user-container,
#add-Category-container {
    position: absolute;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-neu-user,
.add-neu-Category {
    height: 40%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.add-neu-user input,
.add-neu-Category input {
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
}

.add-neu-user button,
.add-neu-Category button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 100px;
    border-radius: 14px;
}

.x {
    color: #393180 !important;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 40px !important;
    cursor: pointer;
}


/* FORM ELEMENTS */

textarea {
    cursor: pointer;
}

button {
    margin: 0 5px;
    height: 70px;
    width: 120px;
    background-color:#1e51c0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

button:hover {
    background-color: #3763c2;
}

input {
    width: 200px;
    height: 20px;
    cursor: pointer;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    height: 40px;
    width: 100px;
    cursor: pointer;
}


/* RESPONSIV */

@media only screen and (max-width: 1200px) {
    body {
        margin-left: 200px;
        margin-right: 0px;
    }
    .big-title {
        left: 50%;
    }
    #add-task-container {
        margin-right: 20px;
        margin-left: 80px;
        max-width: none;
    }
}

@media only screen and (max-width: 850px) {
    body {
        margin-left: 160px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        margin: 0;
    }
    /* HEAD */
    .big-title {
        display: none;
    }
    .group-name {
        display: none;
    }
    /* ADD TASK CONTAINER */
    #add-task-container {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
    }
    #add-task-container>div {
        width: 100%;
    }
    /* LEFT */
    .container-left>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* RIGHT */
    .container-right>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .asign-member {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .asign-member img {
        padding-bottom: 10px;
    }
    /* ELEMENTS */
    input {
        width: 80%;
    }
    select {
        width: 70%;
    }
}

@media only screen and (max-height: 800px) {
    .form-buttons {
        bottom: 0;
    }

    .form-buttons button {
        height: 50px;
        width: 100px;
        font-size: 10px;
    }
}