body {
    margin-left: 300px;
    background-image: url(/img/add-task-img/img/pexels-pixabay-221189.jpg);
}


/* GROUP-NAME */

.group-name {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
}


/* BIG TITLE */

.big-title {
    position: absolute;
    top: 0;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F4F3FB;
}

.big-title h1 {
    margin-bottom: 10px;
}


/* ADDING CONTAINER */

#add-task-container {
    background-color: #EBECF0;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    height: fit-content;
    margin-top: 120px;
    padding: 5px;
}


/* LEFT */

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* RIGHT */

.member-container {
    padding-top: 20px;
}

.asign-member {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.asign-member img {
    width: 40px;
    height: 40px;
    padding-left: 10px;
}

.form-buttons {
    padding-top: 80px;
}


/* NEU USER CONTAINER */

#add-user-container {
    position: absolute;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-neu-user {
    height: 40%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.add-neu-user input {
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
}

.add-neu-user button {
    height: 40px;
    width: 100px;
}

.x {
    background-color: red;
    width: 50px;
    height: 50px;
}


/* FORM ELEMENTS */

button {
    height: 30px;
    background-color: green;
    border-radius: 5px;
}

input {
    width: 200px;
    height: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    height: 40px;
    width: 100px;
}


/* RESPONSIV */

@media only screen and (max-width: 1000px) {
    body {
        margin-left: 200px;
        margin-right: 0px;
        background-image: url(/img/add-task-img/img/pexels-pixabay-221189.jpg);
    }
    #add-task-container {
        margin-right: 0px;
        max-width: none;
    }
}

@media only screen and (max-width: 650px) {
    body {
        margin-left: 160px;
        background-image: url(/img/add-task-img/img/pexels-pixabay-221189.jpg);
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0px;
        background-image: url(/img/add-task-img/img/pexels-pixabay-221189.jpg);
    }
    #add-task-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
    }
    .big-title {
        display: none;
    }
    .group-name {
        display: none;
    }
}