body {
    margin: 0;
    background-color: #11111b;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Inter', sans-serif;
}

.backlog_IT {
    background-color: #00a759;
}

.backlog_controlling {
    background-color: #ad42ad;
}

.backlog_web {
    background-color: #4673d3;
}

.backlog_backend {
    background-color: #e78637;
}

.categories_backlog {
    font-size: 22px;
    font-weight: 900;
}

#backlog_container {
    padding: 20px;
    width: calc(100vw - 250px);
    box-sizing: border-box;    
}

h2 {
    margin: 0;
    color: white;
    font-size: 24px;
}

.task_container_backlog {
    width: 100%;
    display: flex;
}

.task_card_backlog {
    padding: 24px;
    margin: 10px 0;
    min-height: 120px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(226, 228, 230, 0.8);
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
}

.category_backlog {
    height: 100%;
    width: 12px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
}

#backlog_header {
    margin: 200px 0 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 22px;
}

#backlog_content {
    display: flex;
    flex-direction: column-reverse;
}

.add_to_board_btn {
    margin: 0 auto;
    height: 80px;
    width: 18%;
    align-self: center;
    font-size: 22px;
    color: white;
    background-color: #1e51c0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add_to_board_btn:hover {
    background-color: #3763c2;
}

@media (max-width: 1400px) {
    .add_to_board_btn {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    #backlog_container {
        width: calc(100vw - 180px);
    }

    #backlog_header {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    #backlog_container {
        width: 100%;
    }

    .task_card_backlog {
        width: 100%;
    }

    #backlog_header {
        width: 100%;
    }

    .add_to_board_btn {
        display: none;
    }
}