body {
    margin: 0;
    background-color: #11111b;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Inter', sans-serif;
}

.backlog_IT {
    background-color: #00a759;
}

.backlog_controlling {
    background-color: #ad42ad;
}

.backlog_web {
    background-color: #4673d3;
}

.backlog_backend {
    background-color: #e78637;
}

.new_category_backlog {
    background-color: #8d8d8d;
}

.bold_backlog {
    font-size: 22px;
    font-weight: 900;
}

.span_backlog {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.user_container_backlog {
    justify-content: flex-start;
}

.category_container_backlog {
    justify-content: center;
}

.details_container_backlog {
    justify-content: flex-end;
    overflow-wrap: anywhere;
}

#backlog_container {
    padding: 20px;
    width: calc(100vw - 250px);
    display: flex;
    box-sizing: border-box;
    overflow-x: hidden;
}

h2 {
    margin: 0;
    color: white;
    font-size: 24px;
    position: absolute;
}

.task_container_backlog {
    width: 100%;
    display: flex;
}

.task_card_backlog {
    padding: 24px;
    margin: 10px 0;
    min-height: 120px;
    max-height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(226, 228, 230, 0.8);
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
}

.category_backlog {
    height: 100%;
    width: 12px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
}

#backlog_header {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 22px;
}

#backlog_content_container {
    margin-top: 200px;
    flex: 1;
}

#backlog_button_container {
    padding-top: 250px;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    box-sizing: border-box;
}

#backlog_content {
    display: flex;
    flex-direction: column-reverse;
}

.add_to_board_btn {
    margin-left: 20px;
    height: 80px;
    width: 300px;
    align-self: center;
    display: unset !important;
    font-size: 22px;
    color: white;
    background-color: #1e51c0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add_to_board_btn:hover {
    background-color: #3763c2;
}

.responsive_button_backlog {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    cursor: pointer;
    display: none;
}

@media (max-width: 1800px) {
    #backlog_button_container {
        width: 200px;
    }

    .add_to_board_btn {
        width: 200px;
    }
}

@media (max-width: 1500px) {
    .add_to_board_btn {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    #backlog_button_container {
        width: 140px;
    }

    .add_to_board_btn {
        width: 140px;
    }
}

@media (max-width: 1000px) {
    .add_to_board_btn {
        margin-left: 10px;
        font-size: 16px;
    }

    #backlog_container {
        width: calc(100vw - 180px);
    }

    #backlog_header {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    #backlog_container {
        width: 100%;
    }

    #backlog_content_container {
        width: 100%;
    }

    #backlog_button_container {
        display: none;
        z-index: 1;
    }

    .responsive_button_backlog {
        display: unset;
    }

    .details_container_backlog {
        padding-right: 10px;
        box-sizing: border-box;
    }

    .task_card_backlog {
        width: 100%;
    }

    #backlog_header {
        width: 100%;
    }

    .add_to_board_btn {
        display: none;
    }
}