body {
    margin: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    background-color:#11111B;
=======
    background-color: #11111b;;
>>>>>>> 020dd9085c0c743665f9490a554e9a22f3985740
    background-size: cover;
    overflow-x: hidden;
} 

input[type=text] {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

textarea {
    font-family: 'Inter', sans-serif;
    width: 67%;
    font-size: 0.95em;
    margin-top: 12px;
    margin-left: 4px;
    padding-left: 4px;
    border-radius: 4px;
    height: 4em; 
    resize: none;
    border: none;
    background-color: transparent;
    outline: none;
    background-color:rgba(226, 228, 230, 0.5);
}

span {
    max-width: 100%;
    overflow-wrap: anywhere;
}


.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.select-dropdown {
  position: relative;
  background-color: #E6E6E6;
  border-radius: 4px;
  outline: none;
  border: none;
}

.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
  outline: none;
  border: none;
}

.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  outline: none;
  border: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
    /*background-color: #191A1E;*/
    margin-bottom: 16px;
    width: calc(100% - 150px);
    margin-left: 150px;
}

@media only screen and (max-width: 600px) {
    .content {
        margin-left: 0 !important;
        width: 100% !important;
    }
}

.task-container {
    background-color: rgba(226, 228, 230, 0.8);
    border-radius: 4px;
    margin: 24px;
    transition: All 250ms ease-in-out;
}

.task-container p {
    display: flex;
    align-items: center;
    height: 2em;
    padding-left: 10px;
    width: 60%;
    font-family: 'Kanit', sans-serif;
    color: black;
    letter-spacing: 0.2px; 
    margin-bottom: 0;
    border-radius: 4px;
}

.task {
    min-height: 300px;
    width: 15em;
    border-radius: 0px 5px 5px 5px;
    opacity: 0.85;
}

.task:hover {
    opacity: 0.9;
}

.default-content {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-content img {
    height: 50px;
    opacity: 0.7;
    cursor: pointer;
}

.default-content img:hover {
    opacity: 0.9;
}

.added-task {
    color: black;
    font-family: 'Inter', sans-serif;
    min-height: 50px;
    padding: 14px;
    cursor: pointer;
    position: relative;
    background:white;
    margin-bottom: 10px;
    margin: 8px;
    border-radius: 4px;
}

.added-task:hover {
    transition: box-shadow 200ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-added {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.bottom-added {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
}

.date-added {
    position: absolute;
    bottom: 10px;
    font-size: 0.7em;
}

.assigned-added {
    position: absolute;
    bottom: 10px;
    right: 14px;
    font-size: 0.7em;
}

.h-added {
    padding: 3px 4px 3px 4px;
    border-radius: 3px;
    max-width: 100px;
}

.category-added {
    font-size: 0.7em;
}

.description-added {
    font-size: 0.8em;
    margin-bottom: 16px !important;
}

.added-task-zoom {
    color: black;
    font-family: 'Inter', sans-serif;
    min-height: 50px;
    padding: 14px;
    width: 40%;
    height: 40%;
    position: relative;
    background:white;
    margin-bottom: 10px;
    margin: 8px;
    border-radius: 4px;
    margin: 0 auto;
    display: grid;
    place-items: flex-start legacy;
    position: relative;
    z-index: 101;
}

.top-zoom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.bottom-zoom {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.delete {
    background-image: url(../img/board-img/delete.png);
    background-size: cover;
    height: 32px;
    width: 32px;
    opacity: 0.8;
    cursor: pointer;
}

.delete-modal {
    height: 180px;
    width: 360px;
    background-color: rgba(181, 181, 181, 0.7);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    display: grid;
    place-items: center;
    backdrop-filter: blur(10px);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.btn {
    height: 2em;
    width: 5em;
    border: none;
    border-radius: 3px;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
}

.btn:hover {
    transition: all 225ms ease-in-out;
    background-color:rgba(0, 0, 0, 0.09);
}

.trash-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*js controlled classes*/

.high-urgency {
    background-color: #f42f2f;
}

.medium-urgency {
    background-color: #dc8a41;
}

.low-urgency {
    background-color: #4ea656;
}

.dragging {
    opacity: 0.6;
}

.d-none {
    display: none;
}

.scale-0 {
    transition: transform 250ms ease-in-out;
    transform: scale(0);
}

.scale-1 {
    transition: transform 250ms ease-in-out;
    transform: scale(1);
}

.scale-1-delayed {
    transition: transform 2000ms ease-in-out;
    transform: scale(1);
}

.opacity-0 {
    transition: opacity 100ms ease-in-out;
    opacity: 0;
}

.opacity-1 {
    transition: opacity 100ms ease-in-out;
    opacity: 1;
}

.z-index-2000 {
    z-index: 2000
}

.deleted-bg {
    background-color: rgba(151, 158, 165, 0.9) !important;
}

body {
    position: relative !important;
}

#zoom-task {
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);
    position: fixed;
    top: -200px;
    left: -200px;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    padding: 200px;
    z-index: 100;
    display: flex;
    align-items: center;
}