#navigation {
    background-color: #0A0A1A;
    font-family: 'Inter', sans-serif;
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px #EBECF0 solid;
}

#navigation_bar_logo {
    position: absolute;
    top: 16px;
    left: 16px;
}

#navigation a {
    margin: 30px 0;
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
}

#navigation a:hover {
    text-decoration: underline;
}

.group-name {
    top: 100px;
    left: 16px;
}

h4 {
    text-align: center;
    font-size: 24px;
    margin: 0;
}


/*close-menu */

.open-menu {
    transform: translateX(0) !important;
}


/* BURGER-MENU */


/* RESPONSIVE */

@media only screen and (max-width: 1000px) {
    #navigation {
        width: 180px;
    }
}

@media only screen and (max-width: 800px) {
    #navigation {
        transform: translateX(-180px);
    }
    #close-btn {
        color: white;
        font-size: 26px;
        background-color: rgb(397, 10, 26, 0.5);
        border-radius: 50%;
        position: fixed;
        left: 173px;
        top: 50vh;
    }
}