#navigation {
    background-color: #0A0A1A;
    font-family: 'Inter', sans-serif;
    width: 150px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px #EBECF0 solid;
}

#navigation a {
    padding-top: 20px;
    text-decoration: none;
    color: aliceblue;
    padding-top: 40px;
}


/* RESPONSIVE */

@media only screen and (max-width: 600px) {
    #navigation {
        display: none;
    }
}