#navigation {
    background-color: #0A0A1A;
    font-family: 'Inter', sans-serif;
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px #EBECF0 solid;
}

#navigation_bar_logo {
    position: absolute;
    top: 16px;
    left: 16px;
}

#navigation a {
    margin: 40px 0;
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
}

#navigation a:hover {
    text-decoration: underline;
}

.group-name {
    top: 100px;
    left: 16px;
}

h4 {
    text-align: center;
    font-size: 24px;
    margin: 0;
}


/* RESPONSIVE */

@media only screen and (max-width: 1000px) {
    #navigation {
        width: 180px;
    }
}

@media only screen and (max-width: 800px) {
    #navigation {
        display: none;
    }
}