body {
    margin: 0;
    box-sizing: border-box;
    background-color: #191A1E;
} 

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #191A1E;
}

.task-container p {
    display: flex;
    align-items: center;
    height: 2em;
    padding-left: 10px;
    width: 60%;
    font-family: 'Kanit', sans-serif;
    color: white;
    letter-spacing: 0.7px;
    margin-bottom: 0;border-radius: 5px 5px 0px 0px;
}

.task {
    min-height: 300px;
    width: 13em;
    border-radius: 0px 5px 5px 5px;
    opacity: 0.85;
}

.task:hover {
    opacity: 0.9;
}

.added-task {
    color: white;
    font-family: 'Inter', sans-serif;
    min-height: 100px;
    padding: 14px;
    cursor: move;
    position: relative;
    background:rgba(255,255,255, 0.08);
    margin-bottom: 10px;
}


.top-added {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.bottom-added {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
}

.date-added {
    position: absolute;
    bottom: 10px;
    font-size: 0.7em;
}

.assigned-added {
    position: absolute;
    bottom: 10px;
    right: 14px;
    font-size: 0.7em;
}

.h-added {
    padding: 3px 4px 3px 4px;
    border-radius: 3px;
    max-width: 100px;
}

.category-added {
    font-size: 0.7em;
}

.description-added {
    font-size: 0.8em;
    margin-bottom: 16px !important;
}

/*js controlled classes*/

.high-urgency {
    background-color: #f42f2f;
}

.medium-urgency {
    background-color: #dc8a41;
}

.low-urgency {
    background-color: #4ea656;
}

.dragging {
    opacity: 0.6;
}

.d-none {
    display: none;
}

.scale-0 {
    transition: transform 225ms ease-in-out;
    transform: scale(0);
}

.scale-1 {
    transition: transform 225ms ease-in-out;
    transform: scale(1);
}

.opacity-0 {
    transition: opacity 100ms ease-in-out;
    opacity: 0;
}

.opacity-1 {
    transition: opacity 100ms ease-in-out;
    opacity: 1;
}

/*ids*/

#to-do {
    background-color: #b82840;
}

#h-to-do {
    background-color: #b82840;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -10px 6px -8px inset;
}

#in-progress {
    background-color: #285fb8;
}

#h-in-progress {
    background-color: #285fb8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -10px 6px -8px inset;
}

#in-review {
    background-color: #b8aa28;
}

#h-in-review {
    background-color: #b8aa28;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -10px 6px -8px inset;
}

#approved {
    background-color: #3c6d37;
}

#h-approved {
    background-color: #3c6d37;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -10px 6px -8px inset;
}

body {
    position: relative;
}

#zoom-task {
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 200px;
}